.table {
  width: 100%;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #499be4;
  font-size: large;
  font-family: sans-serif;
}
.tableHead {
  text-align: justify;
  position: sticky;
  top: 0;
}
.headerCell {
  padding: 1rem;
  background-color: #05ffff;
}
.tableCell {
  padding: 1rem;
  background-color: #ffcd89;
}
.tableCell:hover {
  background-color: #70ffa4;
}
.tableActionsCell {
  padding: 1rem;
  text-align: end;
}
.tableParent {
  overflow-y: scroll;
  max-height: 38rem;
}
.tableParent::-webkit-scrollbar {
  background-color: #499be4;
}
.tableParent::-webkit-scrollbar-thumb {
  background-color: #ffcd89;
}
.tableParent::-webkit-scrollbar-track:hover {
  background-color: #70ffa4;
}
